html{
  background-image: url(images/Japon.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: 100%;
  margin:0;
  padding:0;
}
.perso{ background-image: url(images/Japon.jpg); }
.USA { background-image: url(images/NYCP.jpg); }
.Canada {background-image: url(images/fondmontreal.jpg);}

h1{
  text-align: center;
  font-size: 4em;
}
.me{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 10%;
  height: 15%;
}
header{
  text-align: center;
  width: 50%;
  background-color: rgba(255,255,255,0.5);
  margin-left: 25%;
  padding-left: 0%;
}
.MyDesc{
  color: black;
  font-size: 200%; 
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
.DescPict{
  font-size: 100%;
}
#conteneur
{
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 10px;
  background-color: rgba(255,255,255,0.5);
  display: flex;
  justify-content: space-around;
  text-align: center;
}
footer{
  display: flex;
  background-color: rgb(50,50,50);
  padding-bottom: 0px;
  padding-top: 20px;
  justify-content: space-between;
}

#conteneur2
{display: flex;
  justify-content: space-between;
  padding-left: 45%;
}
