body { 
  margin: 0;
  padding: 0px;
  font-family: Avenir sans-serief;
}

nav {
  width: 100%
  margin: 0 auto;
  position: sticky;
  top: 0px; /* ne met pas en haut le menu*/
  text-align: left;
}
nav ul{
  list-style-type: none;
  font-size: 40%;
}
nav li{
  float: right;
  width: 100%;
  text-align: center;
}
nav ul::after{
  content: "";
  display: table;
  clear: both;
}
nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
}
nav ul li{
  float: left;
  width: 25%
  text-align:center;
  position: relative;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}
.sous{
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: white; 
  position: absolute;
  width: 100%;
  z-index: 1000;
}
nav > ul li:hover .sous{
  display: block;
}
.sous li {
  float: none;
  width: 100%;
  text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}
.conteneur{
  margin: 0px 20px;
  height: 1500px;
}
section { 
  height: 100vh; 
  box-sizing: border-box;
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;*/
  /*text-align: center; */
  /*flex-direction: column;*/
  /*padding: 2vw;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 100%; 
  margin-top: 10px;
}
section:first-of-type {
  top: 0px;
  text-transform: uppercase;
  font-size: 5vw;
}
section:first-of-type, section.pop { 
/*First Paragraphe*/ 
}
section:nth-of-type(even) { 
  background: #fff;
  align-items: center;
  justify-content: center;
  text-align: center; 
  flex-direction: column;
  padding: 2vw;
  font-size: 50px;

}
section:nth-of-type(1) { 
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/iceland-fjords.jpg); 
}
.center
{
  display: flex;
  text-align: center;
  padding-top: 20%;
  padding-left: 20%;
  font-size: 50px;
}
section:nth-of-type(3) { 
  background-image: url(images/new-york.jpg); 
  align-items: center;
  justify-content: center;
  text-align: center; 
  flex-direction: column;
  padding: 2vw;
  font-size: 200px;
  color: white;
}
section:nth-of-type(5) { 
  background-image: url(images/Canada.jpg);
  align-items: center;
  justify-content: center;
  text-align: center; 
  flex-direction: column;
  padding: 2vw;
  font-size: 200px;
  color: white; 
}
section:nth-of-type(7) { 
  background-image: url(images/fond.jpg); 
  align-items: center;
  justify-content: center;
  text-align: center; 
  flex-direction: column;
  padding: 2vw;
  font-size: 200px;
}
section:nth-of-type(9) { 
  background-image: url(images/fond.jpg);
  align-items: center;
  justify-content: center;
  text-align: center; 
  flex-direction: column;
  padding: 2vw;
  font-size: 200px; 
}
p{
  font-size: 40%;
}
/*button to top*/
#myBtn {
  width: 70px;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 20px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
footer{
  display: flex;
  background-color: rgb(50,50,50);
  padding-bottom: 0px;
  padding-top: 20px;
  justify-content: space-between;
}

#conteneur2
{
  z-index: 10 000;
  display: flex;
  justify-content: space-around;
  padding-left: 35%;
}
/* CSS Login Page*/


 /* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
} 
/* Page 1 CSS*/
section: .Page1{
  height: 20%;

}
/*CSS forms*/
#form
{
  background-color: blue;
}